//  Alert & Valid
$alert: red;
$valid: lime;

// /*//////////////// HEADER ///////////////*/
$navbar-bcg-color: #0000003d;
$links-color: white;
$links-hover-color: #4bd3eb;

// /*///////////////// MAIN ////////////////*/

// /*//////////////// FOOTER ///////////////*/
