:root {
  font-size: 18px;
}
/*////////////////////////////////////HEADER////////////////////////////////////////////*/
.navbar-container {
  display: block;
}

.burger-container {
  display: none;
}
.burger-open {
  display: none;
}

/*////////////////////////////////////MAIN//////////////////////////////////////////////*/

/*////////////////////////////////////FOOTER////////////////////////////////////////////*/
