:root {
  font-size: 18px;
}
/*////////////////////////////////////HEADER////////////////////////////////////////////*/
header {
  .navbar {
    .logo {
      position: static;
      transform: none;
    }

    .links {
      display: flex;
      margin-left: 5rem;
    }

    .btn-connection {
      display: block;

      .btn-login-modal {
        margin-right: 10px;
      }

      button {
        @include template-btn(#4bd3eb, black, white, white);
      }
    }

    .burger-menu-open {
      display: none;
    }

    .user {
      display: none;
    }
  }
  .register-modal,
  .login-modal {
    width: 400px;
    // border-radius: 5px;
  }

  .login-modal {
    border-radius: 5px;
  }

  .burger-container {
    display: none;
  }
  .user-container {
    display: none;
  }
}
/*////////////////////////////////////MAIN//////////////////////////////////////////////*/

// main {

// }

/*////////////////////////////////////FOOTER////////////////////////////////////////////*/
